<style>
  body {
    background-image: url("/images/post.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
<div class="row create-post-page">
  <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
    <form action="/create-post" method="post" class="create-account">
    <h4 >Create Post</h4>
    <input type="text" name="title" id="title" placeholder="Title" required>
      <textarea type="text" name="content" id="content" placeholder="Write Post Here" class="materialize-textarea" required></textarea>
      <input class="text-white waves-effect waves-light btn" type="submit" value="Create">
    </form>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
