<style>
  body {
    background-image: url("/images/signout.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
<div class="row landing-page">
  <div class="col s10 offset-s1 m8 offset-m2 l5 offset-l1">
    <h1 class="white-text">Success!</h1>
    <a class="waves-effect waves-light btn" href="/sign-in" />Sign In</a>
    <a class="waves-effect waves-light btn" href="/sign-up" />Sign Up</a>
  </div>
</div>